In [1]:
import osmnx as ox
sel_graph = 'walk'
place_name = "Concepci√≥n, Chile"

graph = ox.graph_from_place(
    place_name,
    network_type=sel_graph,
    simplify=False,
)

In [19]:
nodes, edges = ox.graph_to_gdfs(graph)
nodes.reset_index(inplace=True)
edges.reset_index(inplace=True)

In [20]:
import geopandas as gpd
n = gpd.read_parquet('/app/assets/streets/future/nodes.parquet')
e = gpd.read_parquet('/app/assets/streets/future/edges.parquet')

In [13]:
n.head()

         osmid            x             y                        geometry
0  267252253.0  674769.1563  5.922560e+06  POINT (674769.156 5922560.301)
1  267252256.0  674767.1305  5.922556e+06  POINT (674767.130 5922555.936)
2  267252355.0  675032.4014  5.922608e+06  POINT (675032.401 5922608.020)
3  267548089.0  676180.8739  5.926340e+06  POINT (676180.874 5926340.019)
4  267548092.0  676137.8753  5.925974e+06  POINT (676137.875 5925973.933)

In [14]:
nodes.reset_index().to_parquet('/app/assets/streets/actual/nodes.parquet')

In [21]:
e.head()

,u,v,key,from,to,osmid,length,geometry
0,267252253,267252256,0,267252253,267252256,368010828,4.812181,"LINESTRING (674769.156 5922560.301, 674767.130..."
1,267252253,3718767746,0,267252253,3718767746,368010828,3.901331,"LINESTRING (674769.156 5922560.301, 674771.258..."
2,267252256,8355196537,0,267252256,8355196537,367537909,5.850963,"LINESTRING (674767.130 5922555.936, 674761.516..."
3,267252256,3718673159,0,267252256,3718673159,368010828,6.686680,"LINESTRING (674767.130 5922555.936, 674766.174..."
4,267252256,7248696117,0,267252256,7248696117,776869883,11.688149,"LINESTRING (674767.130 5922555.936, 674778.274..."

In [23]:
edges['from'] = edges['u']
edges['to'] = edges['v']
edges = edges[e.columns]

In [25]:
edges.to_parquet('/app/assets/streets/actual/edges.parquet')

In [27]:
nodes.to_file('/app/data/export_as_shape/streets/actual/nodes')
edges.to_file('/app/data/export_as_shape/streets/actual/edges')

/tmp/ipykernel_89/2504193958.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  nodes.to_file('/app/data/export_as_shape/streets/actual/nodes')