In [28]:
import osmnx as ox
sel_graph = 'walk'
place_name = "Concepci처n, Chile"

graph = ox.graph_from_place(
    place_name,
    network_type=sel_graph,
    simplify=False,
)

In [19]:
nodes, edges = ox.graph_to_gdfs(graph)
nodes.reset_index(inplace=True)
edges.reset_index(inplace=True)

In [20]:
import geopandas as gpd
n = gpd.read_parquet('/app/assets/streets/future/nodes.parquet')
e = gpd.read_parquet('/app/assets/streets/future/edges.parquet')

In [29]:
n.crs

<Projected CRS: EPSG:32718>
Name: WGS 84 / UTM zone 18S
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Between 78째W and 72째W, southern hemisphere between 80째S and equator, onshore and offshore. Argentina. Brazil. Chile. Colombia. Ecuador. Peru.
- bounds: (-78.0, -80.0, -72.0, 0.0)
Coordinate Operation:
- name: UTM zone 18S
- method: Transverse Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [34]:
nodes = nodes.reset_index().to_crs(32718)
nodes['x'] = nodes['geometry'].x
nodes['y'] = nodes['geometry'].y

ValueError: cannot insert level_0, already exists

In [ ]:
nodes.drop(columns=['level_0', 'index'],inplace=True)

In [38]:
nodes.to_parquet('/app/assets/streets/actual/nodes.parquet')

In [21]:
e.head()

,u,v,key,from,to,osmid,length,geometry
0,267252253,267252256,0,267252253,267252256,368010828,4.812181,"LINESTRING (674769.156 5922560.301, 674767.130..."
1,267252253,3718767746,0,267252253,3718767746,368010828,3.901331,"LINESTRING (674769.156 5922560.301, 674771.258..."
2,267252256,8355196537,0,267252256,8355196537,367537909,5.850963,"LINESTRING (674767.130 5922555.936, 674761.516..."
3,267252256,3718673159,0,267252256,3718673159,368010828,6.686680,"LINESTRING (674767.130 5922555.936, 674766.174..."
4,267252256,7248696117,0,267252256,7248696117,776869883,11.688149,"LINESTRING (674767.130 5922555.936, 674778.274..."

In [23]:
edges['from'] = edges['u']
edges['to'] = edges['v']
edges = edges[e.columns]

In [40]:
edges = edges.to_crs(e.crs)

In [41]:
edges.to_parquet('/app/assets/streets/actual/edges.parquet')

In [27]:
nodes.to_file('/app/data/export_as_shape/streets/actual/nodes')
edges.to_file('/app/data/export_as_shape/streets/actual/edges')

/tmp/ipykernel_89/2504193958.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  nodes.to_file('/app/data/export_as_shape/streets/actual/nodes')